<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>CF Explorer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles-about.css">
  <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
    
</head>

<body>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['AC',  <%=ac%>],
          ['WA',      <%=wa%>],
          ['TLE',  <%=tle%>],
          ['RE', <%=re%>],
        ]);

        var options = {
          title: 'Verdicts',
          is3D: true,
          backgroundColor: "transparent",
          fontSize: 20,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>


    <div class="top">

        <h1 class="user-handle">
            <%=user_handle%>
        </h1>
            
        <div class="dp">
            <img src=<%=photourl%> alt="" class = "user-img"> 
        </div>

        
        <div class="user-detils">
            <h1>Deatils of User</h1>
            <h2>Current Rating : <%=user_rating%></h2>
            <h2>Max Rating : <%=max_rating%></h2>

        </div>
       
    </div>

    <h1 class="stat-heading">User Status</h1>
    <div class="container-fluid">
        
        <div class="row status">
            <div class="col verdicts">
                <p class="stat"> No. of ACs : <%=ac%></p>
                <p class="stat"> No. of WAs : <%=wa%></p>
                <p class="stat"> No. of TLEs : <%=tle%></p>
                <p class="stat"> No. of REs : <%=re%></p>
            </div>
            <div class="col">
                <div id="piechart_3d"></div>
            </div>
            
        </div>
        

    </div>


               
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <div class="footer">
    <p>Made with ❤️ by Shivansh Gupta</p>
  </div>

</body>
</html>